body {
  background-color: #ccc;
  display: grid;
  margin: 0;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-template-columns: auto 200px 40% auto 12px;
  grid-template-rows: 100px auto 20px;
  grid-template-areas:
    ". header header right ."
    ". about content right ."
    ". . content right snowman"
}

header {
  grid-area: header;
  margin: 10px;
}

header .title {
  margin-bottom: 0;
}

header .title a {
  color: #000;
  text-decoration: none;
}

pre {
  padding: 0.5em;
  white-space: pre-wrap;
  background-color: #ddd;
}

.about {
  grid-area: about;
  margin: 10px;
}

.about .heading {
  font-size: large;
  font-weight: 600;
}

.about ul {
  list-style-type: none;
  padding-left: 0;
}

.content {
  grid-area: content;
  margin: 10px
}

.article {
  margin: 5px;
}

.article .heading {
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 0;
}

.article .subheading {
  font-size: small;
  margin-top: 0;
}

.snowman {
  font-size: 12px;
  grid-area: snowman;
  align-self: center;
  text-decoration: none;
  color: black;
}
