<!DOCTYPE html>
<html lang="en">

{{> head.hb.html }}

<body>
  {{> sidebar.hb.html }}
  <div class="content">
    <div class="articles">
      {{#each articles}}
      <div class="article">
        <p class="heading"><a href="/article/{{this.slug}}">{{this.title}}</a></p>
        <p class="subheading">{{this.author}} @ {{this.date}}</p>
        {{{this.content}}}
      </div>
      {{#unless @last}}
      <hr />
      {{/unless}}
      {{/each}}
    </div>
  </div>
  <a href="#" class="snowman">&#x2603;</a>
</body>

</html>
